/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #c5efcb;
  --secondary-color: #758173;
  --accent1-color: #a9c5a0;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Mali";
  --paragraph-font: Mali, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #24331F;
  /* headlines on a white background */
  --headline-color-on-color: #24331F;
  /* headlines on a colored background */
  --paragraph-color-on-white: #396E94;
  /* paragraph text on a white background */
  --paragraph-color-on-color: white;
  /* paragraph text on a colored background */
  --paragraph-background-color: #69c29a;
  --nav-link-color: black;
  --nav-background-color: #088b6f;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #69c29a;
  /*#396E94 */
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

form {
  font-size: 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  /*background-color: var(--paragraph-background-color);*/
  background: url(images/biostatistics.png);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  border-radius: 25px;
}

header>h1,
header>h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

.search {
  width: 50px;
  background: url(images/search-icon.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.graph_1 {
  grid-template-columns: 1/2;
  grid-template-rows: 1/2;
}

.text_1 {
  grid-template-columns: 2/3;
  grid-template-rows: 1/2;
}

.graph_2 {
  grid-template-columns: 2/3;
  grid-template-rows: 2/3;
}

.text_2 {
  grid-template-columns: 1/2;
  grid-template-rows: 2/3;
}

.graph_3 {
  grid-template-columns: 1/2;
  grid-template-rows: 3/4;
}

.text_3 {
  grid-template-columns: 2/3;
  grid-template-rows: 3/4;
}


.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2 {
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  border-radius: 25px;
}

nav {
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(8, 10%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . . home home . . ."
    ". . . . top . . ."
    ". left left left right right right ."
    "page2 page2 . page3 page3 . page4 page4";
  /*grid-column-gap:20px;
  grid-row-gap:20px;*/
    
}

.sitemap>div {
  text-align: center;
}

.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}

.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}

.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.sm-page4 {
  grid-area: page4;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.logo-box {
  border-radius: 10px;
  display: inline;
  width: 150px;
}


footer {
  background-color: #69c29a;
  color: blue;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

footer a {
  text-decoration: none;
}

footer h3 a:hover {
  text-decoration: none;
}

footer .social img {
  padding-top: 15px;
}

#fname{
  width:100px;
}

#form-one{
  background-color:#69c29a;
  border:none;
  border-radius: 25px;
  width:80%;
  margin:20px;
  padding: 20px;
  text-align: left;
  
}
label{
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  font-size: 1.8em;
}
ul{
  display:block;
}
ul li{
  list-style-type: none;
  margin: 10px;
}

input{
  width:78%;
  border-radius: 5px;
}
textarea{
  width:75%;
  height:100px;
  border-radius: 5px;
}

#button-submit{
  background-color: white;
  border-radius: 5px;
}

#feedback{
  background-color: #69c29a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;   
}
.moveDown {
  margin-top: 3em;
}
.inner-link{
  border:#24331F solid 2px;
  border-radius: 5px;
  text-decoration: none;
}

.inner-link:hover{
  color:#c5efcb;
}